<div class="col-sm-9" contenteditable="false" style="">
    <div class="panel panel-default">
        <div class="panel-heading">activity</div>
        <div class="panel-body">
            <% if user.is_employee %>
                <%= "#{user.first_name} #{user.last_name}" %> has inserted <%= user.inserted_cards.where('created_at >:t', t: Time.current - 7.days).count %> during the last week
            <% else %>
                <%= "#{user.first_name} #{user.last_name}" %> has taken <%= user.taken_cards.where('created_at >:t', t: Time.current - 7.days).count %> during the last week
            <% end %>
        </div>
    </div>
</div>
