<div class="container">
  <div class="row">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>
            Clients 
          </h4>
        </div>
        <%= render partial: "employees/index", locals: { list: @users } %>
      </div>
  </div>
</div>